:root {
    --text-color: #FFF;
    --text-font-size: 1.5rem;

    --transition: ease-in-out;
}

* {
    color: var(--text-color);
    font-size: var(--text-font-size);

    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;

    -webkit-user-select: none;
    user-select: none;
}

.navBarIcon {
    margin-left: auto;
    cursor: pointer;
    transition: 200ms var(--transition);
}

.user-dropdown.active .navBarIcon {
    transform: rotate(180deg);
}

.navBar {
    position: fixed;
    top: 100px;
    right: 0;
    padding: 24px;
    text-align: right;
    visibility: hidden;
}

.navBar a {
    opacity: 30%;
    transition: 200ms ease-in-out;
}

.navBar a:hover {
    opacity: 100%;
}

header {
    display: flex;
    padding: 35px;
    position: relative;
    /*left: calc(100vw - 100px - calc(var(--text-font-size) * 2));*/
}

header li {
    position: relative;

    opacity: 0;
    visibility: hidden;

    transition: top 300ms var(--transition) calc(calc(600ms / calc(calc(var(--i) / 2) + 2)) * 0.5 * (1)),
    opacity 300ms var(--transition),
    visibility 300ms var(--transition),
    transform 300ms var(--transition);
}

header.active .navBar {
    visibility: visible;
}

header.active li {
    opacity: 100%;
    visibility: visible;

    /*transition-duration: 300ms;*/
}

header.active li:hover {
    transform: translateX(-5px);
}


.companyName {
    font-weight: 700;
}



