.navBarIcon {
    scale: 25%;
    position: relative;
    left: 50px;
    cursor: pointer;
    transition: 200ms var(--transition);
}

.user-dropdown.active .navBarIcon {
    transform: rotate(180deg);
}

.dropdown {
    display: flex;
    position: relative;
    flex-flow: column;
    left: calc(100vw - 300px);
}

.navBar {
    top: 75px;
    right: 0;
    padding: 24px;
    text-align: right;
    visibility: hidden;
}

.navBar a {
    opacity: 30%;
    transition: 200ms ease-in-out;
}

.navBar a:hover {
    opacity: 100%;
}

header {
    display: flex;
    /*padding: 35px;*/
    position: sticky;
    /*left: calc(100vw - 100px - calc(var(--text-font-size) * 2));*/
}

header li {
    position: relative;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px) translateX(0);

    transition: top 300ms var(--transition) calc(calc(600ms / calc(calc(var(--i) / 2) + 2)) * 0.5 * (1)),
    opacity 300ms var(--transition),
    visibility 300ms var(--transition),
    transform 300ms var(--transition);
}

header.active .navBar {
    visibility: visible;
}

header.active li {
    opacity: 100%;
    visibility: visible;
    transform: translateY(0px) translateX(0);
}

header.active li:hover {
    transform: translateY(0px) translateX(-5px);
}


.companyName {
    font-weight: 700;
}



